<v-container fill-height>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md6>
            <auth-form>
                <template slot="form-title"> Singup form</template>

                <template slot="fields">

                    <v-text-field
                            prepend-icon="email"
                            name="email"
                            label="Email"
                            v-model="userName"
                            type="email"
                            :rules="[rules.required, rules.email]"
                    >
                    </v-text-field>

                    <v-text-field
                            prepend-icon="lock"
                            name="password"
                            label="Password"
                            type="password"
                            v-model="password"
                            :rules="[rules.required]"
                    >
                    </v-text-field>

                    <v-text-field
                            prepend-icon="lock"
                            name="conf-password"
                            label="Confirm Password"
                            type="password"
                            v-model="confirmPassword"
                            :rules="[rules.required]"
                            :error="!valid"
                    >
                    </v-text-field>
                </template>

                <template slot="btn-actions">
                    <v-btn color="black" dark to="/">Sing In</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="success">Register <v-icon>keyboard_arrow_up</v-icon></v-btn>
                </template>
            </auth-form>
        </v-flex>
    </v-layout>
</v-container>
